---
import Head from "components/Head.astro";
import Header from "components/Header";
import "styles/global.css";
---

<html lang="en" class="scroll-smooth [-webkit-tap-highlight-color:transparent]">
  <Head />
  <body class="bg-normal text-normal">
    <Header />
    <main class="mt-20">
      <slot />
    </main>
  </body>
</html>
