---
export type Props = {
  href: string;
  name: string;
};
const { href, name } = Astro.props;

const isCurrent = Astro.url.pathname.startsWith(href);
---

<a
  href={href}
  aria-current={isCurrent ? "page" : "false"}
  class:list={[
    "block p-1 font-medium text-sm hover:text-cyan-11 dark:hover:text-cyandark-11 transition-colors",
    isCurrent
      ? "text-cyan-11 dark:text-cyandark-11"
      : "text-gray-11 dark:text-graydark-11",
  ]}
>
  {name}
</a>
