---
import NormalLayout from "layouts/normal-layout.astro";
---

<NormalLayout title="Page Not Found" description="This page does not exist.">
  <main
    class="flex flex-col justify-center items-center gap-2 min-h-screen p-8 text-center"
  >
    <img
      src="/favicon.svg"
      alt="Logo"
      width="64"
      height="64"
      class="w-16 h-16"
    />
    <h1 class="my-1 font-bold text-2xl">Page Not Found</h1>
    <p>This page does not exist.</p>
    <a
      href="/"
      class="hover:text-cyan-11 dark:hover:text-cyandark-11 underline underline-offset-4"
    >
      Back to homepage
    </a>
  </main>
</NormalLayout>
