---
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="absolute top-1/2 left-1/2 text-center -translate-x-1/2 -translate-y-1/2"
  >
    <h1 class="py-4 font-bold text-xl">This page does not exist.</h1>
    <a href="/" class="hover:text-highlight underline underline-offset-4"
      >Back to home</a
    >
  </div>
</BaseLayout>
