---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/reactjs.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Documentation of npm package @mrcaidev/hooks, a collection of React utility hooks."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Hooks</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
