---
import { GitHub } from "react-feather";
---

<a
  href="https://github.com/mrcaidev/hooks"
  target="_blank"
  rel="noreferrer"
  aria-label="View source code on GitHub"
  class="p-2 hover:text-highlight"
>
  <GitHub size="24" />
</a>
