<a
  href="/"
  class="flex items-center gap-2 p-1 hover:opacity-75 transition-opacity"
>
  <img src="/favicon.svg" alt="Logo" width={24} height={24} class="w-6 h-6" />
  <span class="hidden sm:inline font-bold">@mrcaidev/hooks</span>
</a>
