---
import Github from "icons/github.astro";
---

<a
  href="https://github.com/mrcaidev/hooks"
  target="_blank"
  class="p-1 opacity-75 hover:opacity-100 transition-opacity"
>
  <Github size={20} />
  <span class="sr-only">View source code on GitHub</span>
</a>
