---
import Moon from "icons/moon.astro";
import Sun from "icons/sun.astro";
---

<button
  type="button"
  role="switch"
  aria-checked="false"
  id="theme-toggler"
  class="p-1 opacity-75 hover:opacity-100 transition-opacity"
>
  <Moon size={20} id="moon-icon" />
  <Sun size={20} id="sun-icon" class="hidden" />
  <span class="sr-only">Toggle dark theme</span>
</button>

<script>
  function setUserTheme(theme: string) {
    try {
      localStorage.setItem("theme", theme);
    } catch {
      return;
    }
  }

  const root = document.documentElement;
  const toggler = document.querySelector("#theme-toggler");
  const moonIcon = document.querySelector("#moon-icon");
  const sunIcon = document.querySelector("#sun-icon");

  let isDark = root.classList.contains("dark");

  if (isDark) {
    moonIcon?.classList.add("hidden");
    sunIcon?.classList.remove("hidden");
    toggler?.setAttribute("aria-checked", "true");
  }

  toggler?.addEventListener("click", () => {
    isDark = !isDark;

    root.classList.toggle("dark");
    moonIcon?.classList.toggle("hidden");
    sunIcon?.classList.toggle("hidden");

    toggler?.setAttribute("aria-checked", isDark ? "true" : "false");
    setUserTheme(isDark ? "dark" : "light");
  });
</script>
