---
import type { MarkdownLayoutProps } from "astro";
import EditLink from "./edit-link.astro";
import LastUpdatedAt from "./last-updated-at.astro";
import PageLink from "./page-link.astro";
import { findPreviousAndNext } from "./utils";

export type Props = MarkdownLayoutProps<Frontmatter>;
const {
  frontmatter: { createdAt, updatedAt = createdAt },
  url = "",
} = Astro.props;

const editUrl = `https://github.com/mrcaidev/hooks/blob/master/docs/src/pages${url}.md`;
const { previous, next } = findPreviousAndNext(url);
---

<footer class="my-16">
  <section class="flex justify-between items-center gap-x-16 gap-y-2 flex-wrap">
    <EditLink url={editUrl} />
    <LastUpdatedAt date={updatedAt} />
  </section>
  <hr class="border-gray-6 dark:border-graydark-6 my-6" />
  <section class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <PageLink type="previous" {...previous} />
    <PageLink type="next" {...next} />
  </section>
</footer>
