---
export type Props = {
  type: "previous" | "next";
  name: string;
  href: string;
};
const { type, name, href } = Astro.props;

const hint = type === "previous" ? "Previous page" : "Next page";
---

<div>
  {
    href && (
      <a
        href={href}
        class:list={[
          "flex flex-col px-4 py-3 rounded-md border border-gray-7 dark:border-graydark-7 hover:border-cyan-8 dark:hover:border-cyandark-8 font-medium transition-[border]",
          type === "previous" ? "items-start" : "items-end",
        ]}
      >
        <span class="text-xs text-gray-11 dark:text-graydark-11">{hint}</span>
        <span class="text-cyan-11 dark:text-cyandark-11">{name}</span>
      </a>
    )
  }
</div>
