---
import type { MarkdownHeading } from "astro";

export type Props = MarkdownHeading;
const { slug, depth, text } = Astro.props;

const href = "#" + slug;
const name = depth === 1 ? "Overview" : text;
---

<a
  href={href}
  class="block p-1 font-medium text-sm text-gray-11 dark:text-graydark-11 hover:text-gray-12 dark:hover:text-graydark-12 transition-colors"
>
  {name}
</a>
