---
import navLinks from "data/navLinks.json";
import NavLink from "./NavLink.astro";
---

<nav aria-label="Primary navigation" class="flex flex-col gap-1">
  {
    navLinks.map(({ chapter, articles }) => (
      <>
        <p class="py-1 font-semibold text-lg">{chapter}</p>
        {articles.map((link) => (
          <NavLink {...link} />
        ))}
      </>
    ))
  }
</nav>
