---
export interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
const isCurrent = Astro.url.pathname.startsWith(href);
---

<a
  href={href}
  aria-current={isCurrent ? "page" : "false"}
  class:list={[
    "px-2 py-1 rounded-md hover:bg-dim hover:text-highlight",
    isCurrent && "bg-dim text-highlight",
  ]}
  >{name}
</a>
